.container {
    padding: 3%;
    padding-top: 10%;
    height: 1200px;
    width: 100%;
}

.middle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5% 0;
}

.download {
    overflow: hidden;
    padding: 14px 24px 14px 24px;
    position: relative;
    font-size: 14px;
    cursor: pointer;
    appearance: none;
    border: 2px solid transparent;
    border-radius: 30px;
    color: #fff;
    background: #232323;
}

.btn-menu {
    padding: 0;
    width: 100%;
    border-bottom: 1px solid gray;
}

.performance-btn {
    cursor: pointer;
    appearance: none;
    padding: 18px 0 15px;
    font-size: 15px;
    letter-spacing: -.01em;
    line-height: 15px;
    border: none;
    background: none;
    margin: 3% 3% 0 0;
}

.performance-menu button:hover {
    color: #c0bebe;
}



.active {
    border-bottom: 5px solid black;
}