.container {
    padding: 3%;
    padding-top: 10%;
    height: 900px;
    width: 100%;
}

.subtitle {
    margin: 50px 0 0 0;
}

.subtitle p {
    margin: 30px 0 0 0;
}

.btn-menu {
    padding: 0;
    width: 100%;
    border-bottom: 1px solid gray;
}

.risk-btn {
    cursor: pointer;
    appearance: none;
    padding: 15px 0 15px;
    font-size: 15px;
    letter-spacing: -.01em;
    line-height: 15px;
    border: none;
    background: none;
    margin: 2% 3% 0 0;
}

.risk-menu button:hover {
    color: #c0bebe;
}



.active {
    border-bottom: 5px solid black;
}