<button (click)="toggleChoice()">{{ choice }}</button>

<ul class="menu" [ngClass]="{'show': showMenu, 'hidden': hideMenu}">
    <li (click)="toggleNav()" [ngClass]="{'greyNav': nav}">NAV</li>
    <li (click)="toggleMarket()" [ngClass]="{'greyMarket': marketPrice}">Market price</li>
</ul>

<div *ngIf="nav; else elseBlock">
<table>
    <thead>
        <tr>
        <th class="title">YEAR</th>
        <th class="title">1ST QUARTER</th>
        <th class="title">2ND QUARTER</th>
        <th class="title">3RD QUARTER</th>
        <th class="title">4TH QUARTER</th>
        <th class="title">YEAR-END RETURN</th>
        <th class="title">BENCHMARK</th>
        </tr>
        </thead>
    <tbody>
        <tr class="highlight">
            <th>2020</th>
            <td>-24.30%</td>
            <td>18.12%</td>
            <td>6.47%</td>
            <td>16.92%</td>
            <td>11.32%</td>
            <td>11.24%</td>
            </tr>
        <tr class="highlight">
            <th>2019</th>
            <td>10.27%</td>
            <td>2.74%</td>
            <td>-1.60%</td>
            <td>9.95%</td>
            <td>21.58%</td>
            <td>21.80%</td>
            </tr>
        <tr class="highlight">
            <th>2018</th>
            <td>-0.47%</td>
            <td>-3.19%</td>
            <td>0.55%</td>
            <td>-11.67%</td>
            <td>-14.42%</td>
            <td>-14.61%</td>
            </tr>
        <tr class="highlight">
            <th>2017</th>
            <td>8.45%</td>
            <td>5.81%</td>
            <td>5.97%</td>
            <td>4.86%</td>
            <td>27.52%</td>
            <td>27.41%</td>
            </tr>
        <tr class="highlight">
            <th>2016</th>
            <td>-o.16%</td>
            <td>0.25%</td>
            <td>6.67%</td>
            <td>-1.91%</td>
            <td>4.72%</td>
            <td>4.72%</td>
            </tr>
        <tr class="highlight">
            <th>2015</th>
            <td>4.06%</td>
            <td>1.28%</td>
            <td>-11.61%</td>
            <td>2.74%</td>
            <td>-4.28%</td>
            <td>-4.29%</td>
            </tr>
        <tr class="highlight">
            <th>2014</th>
            <td>0.80%</td>
            <td>5.04%</td>
            <td>-5.53%</td>
            <td>-4.19%</td>
            <td>-4.17%</td>
            <td>-3.39%</td>
            </tr>
        <tr class="highlight">
            <th>2013</th>
            <td>2.91%</td>
            <td>-3.23%</td>
            <td>10.29%</td>
            <td>4.85%</td>
            <td>15.16%</td>
            <td>15.76%</td>
            </tr>
        <tr class="highlight">
            <th>2012</th>
            <td>12.01%</td>
            <td>-7.47%</td>
            <td>6.95%</td>
            <td>6.65%</td>
            <td>18.22%</td>
            <td>17.04%</td>
            </tr>
        <tr class="highlight">
            <th>2011<sup>3</sup></th>
            <td>-</td>
            <td>0.73%</td>
            <td>-20.96%</td>
            <td>4.19%</td>
            <td>-16.15%</td>
            <td>-14.31%</td>
            </tr>
        </tbody>
</table>

</div>

<ng-template #elseBlock>
    <table>
        <thead>
            <tr>
            <th class="title">YEAR</th>
            <th class="title">1ST QUARTER</th>
            <th class="title">2ND QUARTER</th>
            <th class="title">3RD QUARTER</th>
            <th class="title">4TH QUARTER</th>
            <th class="title">YEAR-END RETURN</th>
            </tr>
            </thead>
        <tbody>
            <tr class="highlight">
                <th>2020</th>
                <td>-24.10%</td>
                <td>17.34%</td>
                <td>6.84%</td>
                <td>16.36%</td>
                <td>10.71%</td>
                </tr>
            <tr class="highlight">
                <th>2019</th>
                <td>10.34%</td>
                <td>2.80%</td>
                <td>-1.48%</td>
                <td>9.03%</td>
                <td>21.84%</td>
                </tr>
            <tr class="highlight">
                <th>2018</th>
                <td>-0.16%</td>
                <td>-3.33%</td>
                <td>0.31%</td>
                <td>-11.68%</td>
                <td>-14.49%</td>
                </tr>
            <tr class="highlight">
                <th>2017</th>
                <td>8.68%</td>
                <td>5.76%</td>
                <td>5.89%</td>
                <td>4.75%</td>
                <td>27.49%</td>
                </tr>
            <tr class="highlight">
                <th>2016</th>
                <td>-o.10%</td>
                <td>0.24%</td>
                <td>6.75%</td>
                <td>-2.04%</td>
                <td>4.71%</td>
                </tr>
            <tr class="highlight">
                <th>2015</th>
                <td>4.51%</td>
                <td>1.08%</td>
                <td>-11.54%</td>
                <td>2.62%</td>
                <td>-4.10%</td>
                </tr>
            <tr class="highlight">
                <th>2014</th>
                <td>0.30%</td>
                <td>5.16%</td>
                <td>-5.56%</td>
                <td>-4.47%</td>
                <td>-4.84%</td>
                </tr>
            <tr class="highlight">
                <th>2013</th>
                <td>2.35%</td>
                <td>-3.47%</td>
                <td>10.22%</td>
                <td>4.48%</td>
                <td>14.87%</td>
                </tr>
            <tr class="highlight">
                <th>2012</th>
                <td>11.44%</td>
                <td>-7.54%</td>
                <td>6.58%</td>
                <td>7.69%</td>
                <td>18.27%</td>
                </tr>
            <tr class="highlight">
                <th>2011<sup>3</sup></th>
                <td>-</td>
                <td>0.71%</td>
                <td>-20.60%</td>
                <td>5.20%</td>
                <td>-15.48%</td>
                </tr>
            </tbody>
    </table>
</ng-template>