<div class="stay">

    <div class="up-to-date">
   <h2>Stay up to date</h2>

   <p>Sign up for our digest featuring the latest insights on the economy and the markets, investment strategies, and deepening your client relationships.</p>
   <p>Announcements include fund openings/closings, fund manager changes, dividend distributions, webinars, and more.</p>
   <div class="privacy-statement">
    <p>Read our privacy statement to learn about how we keep your personal information private.</p>
    </div>
    </div>
    <div class="signup">
        <form>
            <h3>Sign up to receive emails</h3>
        
        <div class="space">
            <input type="checkbox"><label><span>Get the Advisor's Digest</span></label><br>
        </div>
        <div class="space">
            <input type="checkbox"><label><span>Get Vanguard announcements</span></label><br>
        </div>
        <div class="space">
            <input type="email" placeholder="Email address"><br>
        </div>
        <div class="btn">
        <button>Submit</button>
        </div>
        </form>
    </div>

</div>