<div id="card">
<div class="title">
<h1 class="title-stock">
    <span>VXUS</span><br>
Total International Stock ETF</h1>
<p class="sub-title">Also available as a <span>mutual fund</span></p>

<div class="menu">
    <a>Summary prospectus</a>
    <a>Fact sheet</a>
    <a>Compare product</a>
</div>
</div>
<div class="stat-boxes">
    <div>
        <p class="small-subtitle">MARKET PRICE</p>
        <p class="large-number">$63.18</p>
        <p class="small-date">as of 01/20/2021</p>
    </div>
    <div>
        <p class="small-subtitle">MARKET PRICE CHANGE</p>
        <p class="large-number">$0.71 (1.14%)</p>
        <p class="small-date">as of 01/20/2021</p>
    </div>
    <div>
        <p class="small-subtitle">NAV</p>
        <p class="large-number">$63.12</p>
        <p class="small-date">as of 01/20/2021</p>
    </div>
    <div>
        <p class="small-subtitle">NAV CHANGE</p>
        <p class="large-number">$0.59 (0.94%)</p>
        <p class="small-date">as of 01/20/2021</p>
    </div>
    <div>
        <p class="small-subtitle">EXPENSE RATIO</p>
        <p class="large-number">0.08%</p>
        <p class="small-date">as of 02/27/2020</p>
    </div>
    
    
    <div>
        <p class="small-subtitle">MANAGEMENT STYLE</p>
        <p class="large-number">Index</p>
        <p></p>
    </div>
</div>
</div>