
.legend {
    display: flex;
    flex-wrap: wrap;
}
div p {
    text-align: center;
    padding: 10px 220px 0;
}
.chart {
    width: 90%;
    height: 250px;
    margin: 20px 0px 0px 85px;
}
table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
  }

  .title {
      font-size: 12px;
  }

  tr {
    border-bottom: 1px solid #ddd;
  }

  td, th {
    padding: 1.2rem;
  }

  .highlight:hover {background-color: #ddd;}

  .subtitle {
      text-align: justify;
  }
