<div class="container">
    <div class="box">
        <div class="Fund-manag">
    <h2>Fund management</h2>
    <p>
        Vanguard Total International Stock ETF seeks to track the investment performance of the FTSE Global All Cap ex US Index, an index designed to measure equity market performance in developed and emerging markets, excluding the United States. The fund invests substantially all of its assets in the common stocks included in its target index. The fund allocates its assets based on each region’s weighting in the index. The experience and stability of Vanguard’s Equity Index Group have permitted continuous refinement of techniques for reducing tracking error. The group uses proprietary software to implement trading decisions that accommodate cash flow and maintain close correlation with index characteristics. Vanguard’s refined indexing process, combined with low management fees and efficient trading, has provided tight tracking net of expenses.
    </p>

    <button (click)="isIndexGroup()" class="btn-vng">Vanguard Equity Index Group</button>

    <div class="hidden-text" *ngIf="indexGroup">

    <p class="subtitle2"><strong><em>
        Firm Description
        </em></strong>
    </p>

    <p class="secondP">Launched in 1975, The Vanguard Group, Malvern, Pennsylvania, is among the world’s largest equity and fixed income managers. As chief investment officer, Gregory Davis, CFA, oversees Vanguard’s Equity Index, Quantitative Equity, and Fixed Income Groups. Rodney Comegys, Principal and global head of Vanguard's Equity Index Group, is responsible for all equity index funds. The Equity Index Group manages indexed equity portfolios covering U.S. and international markets. It has developed sophisticated portfolio construction methodologies and efficient trading strategies that seek to deliver returns that are highly correlated with target portfolio benchmarks. The group has advised Vanguard Total International Stock ETF since 2011.</p>

    </div>
<div class="bio">
    <div>
        <h4>Michael Perre</h4>
        <p>Principal, Portfolio manager</p>
        <p class="p2">13 years on fund, 31 years of experience. B.A., Saint Joseph’s University. M.B.A., Villanova University.</p>
    </div>

    <div>
        <h4>Christine D. Franquin</h4>
        <p>Principal, Portfolio manager</p>
        <p class="p2">4 years on fund, 21 years of experience. B.A., Universitaire Faculteiten Sint Ignatius, Antwerpen Belgium. J.D., University of Liege Belgium. Master of Science in Finance, Clark University, Massachusetts.</p>
    </div>
</div>

    <div>
        <h4 class="subtitle3">Quarterly commentary</h4>
        <p class="thirdP">The rebound in global stocks that began in March continued in the third quarter. Massive fiscal and monetary support from governments and central banks, signs of economic healing, and reported progress toward a COVID-19 vaccine all buoyed the markets.</p>
        <p class="thirdP">Investor sentiment soured and volatility returned in September, though, amid stretched valuations in the technology sector, a resurgence in coronavirus infections in some regions, and dimmer chances of a new government aid package in the United States.</p>
        <p class="thirdP">In the global bond market, the pandemic led to a wave of issuance, which drove up supply, but demand held up fairly well. Yields ended the quarter little changed.</p>
        <p class="thirdP">The FTSE Global All Cap ex US Index, which measures developing and emerging markets outside of the United States, returned 6.70% for the quarter. The Russell 3000 Index, which measures the broad U.S. stock market, returned 9.21%.</p>
        <p class="thirdP">The top contributors were industrials (+10.6%), technology (+12.6%), and consumer goods (+8.5%).</p>
        <p class="thirdP">The lone detractor was oil & gas (–4.8%).</p>
        <p class="thirdP">For the 12-month period ended September 30, 2020, the FTSE Global All Cap ex US Index returned 3.69%. Technology (+37.9%), health care (+22.0%), and basic materials (+13.2%) contributed the most. The biggest detractors were financials (–15.0%), oil & gas (–30.3%), and utilities (+1.8%).</p>

    </div>

    </div>
    </div>
</div>