<div class="container">
    <div class="over-view">
    <h2>Overview</h2>
    <p>Objective: Total International Stock Index Fund seeks to track the 
        performance of a benchmark index that measures the investment return 
        of stocks issued by companies located in developed and emerging markets, 
        excluding the United States.</p>
        <hr>
    </div>
<div class="info">
    <div class="fund-facts-outer">
    <h3>Fund Facts</h3>
    <div class="fund-facts">
        <div>
            <p class="small-subtitle">YTD RETURNS (MP)</p>
            <p class="large-number">5.02%</p>
            <p class="small-date">as of 01/20/2021</p>
        </div>
        <div>
            <p class="small-subtitle">YTD RETURNS (NAV)</p>
            <p class="large-number">4.57%</p>
            <p class="small-date">as of 01/20/2021</p>
        </div>
        <div>
            <p class="small-subtitle">DIVIDEND YIELD</p>
            <p class="large-number">2.38%</p>
            <p class="small-date"></p>
        </div>
        <div>
            <p class="small-subtitle">HOLDINGS</p>
            <p class="large-number">7,386</p>
            <p class="small-date">as of 12/31/2020</p>
        </div>
        <div>
            <p class="small-subtitle">INCEPTION DATE</p>
            <p class="large-number">01/26/2011</p>
            <p class="small-date"></p>
        </div>
        <div>
            <p class="small-subtitle">TOTAL NET ASSETS</p>
            <p class="large-number">$416.9 B</p>
            <p class="small-date">as of 12/31/2020</p>
        </div>
        <div>
            <p class="small-subtitle">NET ASSETS FOR VXUS</p>
            <p class="large-number">$38.5 B</p>
            <p class="small-date">as of 12/31/2020</p>
        </div>
        <div>
            <p class="small-subtitle">TURNOVER RATE</p>
            <p class="large-number">7.20%</p>
            <p class="small-date">as of 10/31/2020</p>
        </div>
        <div>
            <p class="small-subtitle">CUSIP</p>
            <p class="large-number">921909768</p>
            <p class="small-date"></p>
        </div>
        <div>
            <p class="small-subtitle">LIPPER PEER AVERAGE</p>
            <p class="large-number">1.263%</p>
            <p class="small-date">Expense ratio 01/20/2021</p>
        </div>
        <div>
            <p class="small-subtitle">DESIGNATION</p>
            <p class="large-number">International</p>
            <p class="large-number">Large Blend</p>
        </div>
        <div>
            <p class="small-subtitle">BENCHMARK</p>
            <p class="large-number">FTSE Global All</p>
            <p class="large-number">Cap ex US Index</p>
        </div>
        <div>
            <p class="small-subtitle">MORNINGSTAR RATING</p>
            <p class="large-number"></p> <!-- star icons -->
            <p class="small-date">as of 12/31/2020</p>
            <p class="small-date">Foreign Large Blend (676 funds)</p>
        </div>
    </div>
    <div class="trading">
        <hr>
        <h3>Trading</h3>
        <div class="trading-inner">
            <div>
                <p class="small-subtitle">IOV</p>
                <p class="large-number">VXUS.IV</p>
                <p class="small-date"></p>
            </div>
            <div>
                <p class="small-subtitle">OUTSTANDING SHARES</p>
                <p class="large-number">638,018,779.1</p>
                <p class="small-date">as of 12/31/2020</p>
            </div>
            <div>
                <p class="small-subtitle">ETF EXCHANGE</p>
                <p class="large-number">National Association of</p>
                <p class="large-number">Securities Dealers</p>
                <p class="large-number">Automated Quotations</p>
            </div>
        </div>

    </div>
    </div>
    <div class="investment-approach">
        <h3>Investment approach</h3>
        <ul>
            <li>Seeks to track the performance of the FTSE Global All Cap ex US Index.</li>
            <li>Broad exposure across developed and emerging non-U.S. equity markets.</li>
            <li>Passively managed.</li>
            <li>Fund remains fully invested.</li>
            <li>Low expenses minimize net tracking error.</li>
        </ul>
<hr>
        <h3>Fund management</h3>
        <p>Vanguard Equity Index Group</p>
    </div>
</div>
<div class="card-boxes">
<div>
    <div>
    <h3>Portfolio analytics</h3>
    <p>Create hypothetical client portfolios and evaluate their potential response 
        to current market conditions. Analyze hypothetical performance and risk 
        statistics, compare two portfolios side-by-side, and more.</p>
    <a href="#">Explore analytics</a>
    </div>
</div>
<div>
    <div>
        <h3>Strategic models</h3>
        <p>Vanguard strategic model portfolios can simplify your practice, 
            so you have more time to coach clients through the current 
            market downturn.</p>
        <a href="#">Explore analytics</a>
        </div>
    </div>
</div>


</div>