<table>
    <thead>
        <tr>
        <th class="title">AS OF 12/31/2020</th>
        <th class="title">1 MONTH</th>
        <th class="title">3 MONTH</th>
        <th class="title">YTD AS OF 12/31/2020</th>
        <th class="title">YTD AS OF 01/21/2021</th>
        <th class="title">1 YEAR</th>
        <th class="title">3 YEAR</th>
        <th class="title">5 YEAR</th>
        <th class="title">10 YEAR</th>
        <th class="title">SINCE INCEPTION</th>
        </tr>
        </thead>
    <tbody>
        <tr class="highlight">
            <th class="subtitle">VXUS (Market price)</th>
            <td>5.82%</td>
            <td>16.36%</td>
            <td>10.71%</td>
            <td>5.09%</td>
            <td>10.71%</td>
            <td>15.34%</td>
            <td>53.97%</td>
            <td>-</td>
            <td>61.32%</td>
            </tr>
        <tr class="highlight">
            <th class="subtitle">VXUS (NAV)</th>
            <td>5.84%</td>
            <td>16.92%</td>
            <td>11.32%</td>
            <td>4.61%</td>
            <td>11.32%</td>
            <td>15.83%</td>
            <td>54.67%</td>
            <td>-</td>
            <td>61.96%</td>
            </tr>
        <tr class="highlight">
            <th class="subtitle">Benchmark&#185;</th>
            <td>5.58%</td>
            <td>17.21%</td>
            <td>11.24%</td>
            <td>-<sup>2</sup></td>
            <td>11.24%</td>
            <td>15.70%</td>
            <td>54.36%</td>
            <td>65.72%</td>
            <td>62.68%</td>
            </tr>
        <tr class="highlight">
            <th class="subtitle">Difference due to fair value pricing</th>
            <td>0.27%</td>
            <td>-0.26%</td>
            <td>0.17%</td>
            <td>-</td>
            <td>0.17%</td>
            <td>0.39%</td>
            <td>0.81%</td>
            <td>-</td>
            <td>-0.13%</td>
            </tr>
        </tbody>
</table>